* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.header {
  font-family: 'Courier New', Courier, monospace; /*  шрифт */
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}

.footer  {

    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}

.content {
	
    background-color: blue;
    color: white;
    padding: 20px;
    width: 40%;
    border: 5px double blue;
    position: relative;
    text-align: left;

}

h1 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
}

.link {
    color: red;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.highlight {
    color: red;
}

.list {
    list-style-type: disc;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 0;
}

.list li {
    margin-bottom: 5px;
}

.list-item-2 {
    color: lightgreen;
    letter-spacing: -0.5px; /* расстояние между буквами */
}

.visual-styles {
    margin-top: 20px;
    text-align: left; /* Перемещаем в левую часть */
}

.visual-styles span {
    display: block;
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 44px 44px 44px;
    gap: 5px;
	padding: 5px;
    position: absolute;
    bottom: 56px;
    right: 12px;
    border: 1px double white;
}


.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border: 1px solid white; /* Добавлены границы для ячеек */
}




.grid div:nth-child(1) {
    background-color: green;
    grid-row: span 2; /* Только единица растянута по вертикали */
}

.grid div.red {
    background-color: red;
}


.grid div:nth-child(7) {
    background-color: red;
    grid-column: span 2; /* Растягивает семерку по горизонтали */
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.borderElement {
    background-color: blue; 
    border: 6px solid #FFFFFF;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: 100px; /* Настраиваем ширину элемента */
    height: 200px; /* Настраиваем высоту элемента */
}

.text-content {
    margin-left: 150px; /* Отодвигаем текст вправо от бордюра */
    max-width: 600px; /* Задаем максимальную ширину текста */
}

.text-content p {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.5;
 margin-bottom: 24px;
    height: calc(1.5em * 6); /* Первые 7 строк текста */
    overflow: hidden; /* Скрываем остальные строки */
}

.text-content2 p {
    margin: 0;
    padding: 0;
    font-size: 22px;
 line-height: 1.5;
    padding: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
margin-top: -52px;
    height: calc(1.5em * 3.5); 
    overflow: hidden; 
}

.text-content::after {
    content: attr(data-fulltext);
    display: block;
    margin-top: 20px; /* Отступ перед текстом после borderElement */
    text-align: justify;
}








